/*section {*/
    /*padding: 15px;*/
/*}*/

/*#header .container {*/
    /*border: 1px solid black;*/
    /*padding: 20px;*/
/*}*/

/*#navbar .container {*/
    /*border: 1px solid black;*/
    /*padding: 10px;*/
/*}*/
/*#maincontent > .container > .row > div {*/
    /*border: 1px solid black;*/
    /*padding: 20px;*/
/*}*/
/*#footer > .container > p{*/
    /*border: 1px solid black;*/
    /*padding: 30px;*/
/*}*/
